<footer
  class=" fixed bottom-0 left-0 bg-white/10 backdrop-blur-lg z-40 w-full py-2 px-10 flex justify-center items-center text-gray-600 text-sm font-medium w-full"
  id="landing-footer"
>
  <nav>
    <ul class="flex flex-wrap justify-center gap-4">
      <li><a href="#">Tesla © 2023</a></li>
      <li><a href="#">Privacidad y legal</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Seguir informado</a></li>
      <li><a href="#">Localización de tiendas</a></li>
    </ul>
  </nav>
</footer>
