<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="white">
		<div class="z-30 relative flex flex-col justify-between h-full">
				
			<header class="z-30 relative">
		
					<h2 class="text-white pt-40 text-4xl font-medium">Disfrute de Tesla</h2>
					<p class="text-white text-base">Programe una prueba de conducción hoy mismo</p>
		
				</header>
				<footer class="pb-20">
					<a class="text-white border-4 bg-white/10 backdrop-blur-sm border-white rounded font-medium px-6 py-4 hover:text-black hover:bg-white transition-colors" href="#"> Prueba de conducción </a>
				</footer>
		</div>

		<div class="absolute top-0 bottom-0 h-full z-10">
			<video autoplay muted loop src="./video.webm"></video>
		</div>
	</section> 
