<section class="landing-section bg-[url(/public/model-y.avif)] h-screen bg-center w-screen bg-cover text-center relative overflow-hidden" 
data-header-color="black">
		<div class="z-30 relative flex flex-col justify-between h-full">
				
			<header class="z-30 relative">
		
					<h2 class="text-black pt-40 text-4xl font-medium">Model Y</h2>
					<p class="text-black text-base underline">Consertar una prueba de conducción</p>
		
				</header>
				<footer class="pb-20 flex justify-center space-x-5">
					<a class="text-white border-[4px] border-gray-500 bg-gray-500  rounded font-medium px-6 py-4" href="#"> Explorar Inventario </a>
					<a class="text-black border-[4px] border-white bg-white backdrop-blur-sm  rounded font-medium px-6 py-4" href="#"> Pedido Personalizado </a>
				</footer>
		</div>
	</section> 
